# Env files
.env
**/.env

# Service account files
service-account.json


# Streamlit / backend db
*.db
*.sqlite3
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
